@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Boilerplate */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-decoration: underline;
  /* Places underlines below the descenders */
  text-underline-position: under;
  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

/* Custom */
body {
  background-color: #f9f5eb;
  font-family: 'EB Garamond', serif;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  height: 360px;
  width: 1280px;
  max-width: 100vw;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1536px) {
  .videoWrapper {
    width: 640px;
  }
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.content img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content p {
  line-height: 200%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content ul li {
  list-style-type: disc;
  margin-left: 40px;
}

.content ol li {
  list-style-type: number;
  margin-left: 40px;
}

.content a:hover {
  color: blue;
}

blockquote {
  background: rgb(var(--background-rgb));
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: rgb(var(--foreground-rgb));
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  visibility: hidden;
  content: close-quote;
}
blockquote p {
  display: inline;
}
